.main-button
{
	/*width: 75%;*/
	margin: auto;
	margin-bottom: 15px;
	margin-top: 15px;
	
}


.infowindow-content
{
	width: 200px;
	height: 100px;	
}

.infowindow-content ul 
{
	list-style: none;
	
}
